<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row general-form">
      <div class="col-md-8">
        <h3></h3>
      </div>
    </div>
    <button class="sh-button refresh" ng-click="getMessageByChannel()"><i class="fa fa-fw fa-refresh"></i></button>
    <div class="list">
      <div class="table-header">
        <div class="col-lg-10">
          <table class="table table-hover">
            <tbody>
            <tr ng-repeat="message in channel.messages | orderBy: 'submittedAt'">
              <td>{{message.username}}</td>
              <td>{{message.message}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col-lg-10">
      <form class="form-horizontal" name="chatForm">
        <div class="col-lg-10">
          <input
              id="message"
              ng-model="channel.text"
              type="text"
              class="chat-box"
              placeholder="Message in {{channel.name}}"
          >
        </div>

        <div class="general-form">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary" ng-click="submitMessage()" ng-disabled="isLoading">ENTER</button>
          </div>

          <span ng-if="isLoading"> <i class="fa fa-spinner" ></i> </span>
        </div>

      </form>
    </div>
  </div>
  <div class="footer">
    <div class="user">{{user.username}}</div>
    <div class="logout">
      <button type="submit" class="btn btn-primary" ng-click="logout()" ng-disabled="isLoading">LOGOUT</button>
    </div>
  </div>
</div>